# VAR SHM
MAX_BUFFER_SHM = 2
// Ne doit pas contenir de slash normalement
NAME_SHM = shm_name_589422985365427
// VAR SEMAPHORE
NAME_EMPTY_SEMAPHORE = sem_empty_432572985365428
NAME_FULL_SEMAPHORE = sem_full_432572985365428
NAME_MUTEX_SEMAPHORE = sem_mutex_432572985365428
// VAR PIPE
PREFIX_PIPEQUESTION = pipequestion_d
PREFIX_PIPEANSWER = pipeanswer_d
// TIMEOUT DAEMON de 30 secondes
TIMEOUT_DAEMON = 10
// TIMEOUT CLIENT de 30 secondes
TIMEOUT_CLIENT = 30
// ANTIFLOOD CLIENT 1sec
ANTIFLOOD_CLIENT = 1
